[workspace]
changelog_update = true
git_release_enable = true
git_tag_enable = true
publish = false
pr_labels = ["release", "skip-ci"]
pr_name = "chore: release v{{ version }}"
features_always_increment_minor = false

[[package]]
name = "barforge-registry-types"
publish = true

[changelog]
header = "# Changelog\n\nAll notable changes to this project will be documented in this file."
body = """
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message }}{% if commit.scope %} *({{ commit.scope }})*{% endif %} - @{{ commit.author.name }} ([{{ commit.id | truncate(length=7, end="") }}](https://github.com/jtaw5649/barforge-app/commit/{{ commit.id }}))
{%- endfor %}
{% endfor %}
"""
protect_breaking_commits = true
commit_parsers = [
  { message = "^.*!", group = "Breaking Changes" },
  { message = "^feat", group = "Added" },
  { message = "^fix", group = "Fixed" },
  { message = "^refactor", group = "Changed" },
  { message = "^perf", group = "Changed" },
  { message = "^docs", group = "Changed" },
  { message = "^build", group = "Changed" },
  { message = "^deprecated", group = "Deprecated" },
  { message = "^remove", group = "Removed" },
  { message = "^chore", skip = true },
  { message = "^ci", skip = true },
  { message = "^test", skip = true },
  { message = "^style", skip = true },
]
link_parsers = [
  { pattern = "#(\\d+)", href = "https://github.com/jtaw5649/barforge-app/pull/$1" },
]
