[workspace]
changelog_update = true
git_tag_enable = true
git_release_enable = false

[changelog]
body = """
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message | upper_first }} ([{{ commit.id | truncate(length=7, end="") }}](https://github.com/jtaw5649/waybar-manager/commit/{{ commit.id }}))
{% endfor %}
{% endfor %}
"""
