[Desktop Entry]
Name=Waybar Manager
Comment=Browse, install, and manage waybar modules
Exec=waybar-manager-bin
Icon=org.waybar.Manager
Terminal=false
Type=Application
Categories=GTK;Utility;Settings;
Keywords=waybar;modules;bar;customization;linux;
StartupNotify=true
